* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	font-family: "Avenir Next", "Helvetica Neue", "Sans-Serif";
	font-size: 16px;
	background-color: #c47575;
	color: #93f8ff;
}

#svgContainer {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

svg {
	position: absolute;
	box-shadow: 0px 0px 0px #c47575;
}

#svgShape {
	position: relative;
	fill: none;
	stroke: black;
	stroke-width: 6px;
	stroke: #93f8ff;
	stroke-dasharray: 213 500;
	stroke-dashoffset: -500;
	transition: stroke-width 1s, stroke-dasharray 1s, stroke-dashoffset 1s;
}

svg:hover #svgShape {
	stroke-width: 3px;
	stroke-dasharray: 860;
	stroke-dashoffset: 0;
}

#svgText {
	position: relative;
	font-size: 40px;
	font-weight: 100;
	z-index: -1;
}